/* Buttons */
.youtube-button {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 5px 6px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.youtube-button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.youtube-button::after {
  content: "";
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  border-radius: 50%;
}

.youtube-button:active::after {
  transform: scale(4);
  transition: transform 0s;
}

.home-button {
  background-color: #404440;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10em;
  cursor: pointer;
}

/* General Body */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Content */
.content {
  padding: 20px;
}

/* Gallery Styles */
.image-stack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}

.image-stack .image {
  position: relative;
  margin-left: -50px;
  transition: transform 0.3s ease, z-index 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image-stack .image:first-child {
  margin-left: 0px;
}

.image-stack .image:hover {
  transform: scale(1.1);
  z-index: 5;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
